# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.venv/
venv/
env/

# dbt
**/logs/
**/target/
**/dbt_packages/
**/profiles.yml
**/.user.yml

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Environment and secrets
.env
.env.local
*.pem
